<div class="container">
    <div class="row">
        <div>Jobs</div>
        <div class="col-sm">
            <canvas id="JobChart"></canvas>
        </div>
    </div>
    <div class="row">
        <div>CPAs</div>
        <div class="col-sm m-2">
            <form class="form-inline" action="/admin" method="POST">
                <div class="form-group col-sm m-1">
                    <div class="m-1 form-inline">
                        <label for="abffpid" class="m-1">ABFF-ID</label>
                        <select name="abffpid" id="abffpid" class="form-control col-sm ">
                            {{#select abffpid}} {{#each cpalocs}}
                            <option value="{{this}}">{{this}}</option>
                            {{/each}} {{/select}}
                        </select>
                    </div>
                    <div class="m-1">
                        <input type='submit' value='Apply Filter' class="btn btn-info btn-sm btn-block">
                    </div>
                    <div class="m-1">
                        <a href="/admin" class="btn btn-warning btn-sm btn-block">Reset</a>
                    </div>
                </div>
            </form>
        </div>

    </div>
    <div class="row">

        <div class="col-sm">
            <canvas id="CpaChart"></canvas>
        </div>
    </div>
</div>
</div>