<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>
    JD3 DAR
  </title>

  <!-- Bootstrap core CSS -->
  <link href="/css/bootstrap.min.css" rel="stylesheet">

  <!-- Custom styles for this login  -->
  <link href="/css/sip-admin.css" rel="stylesheet">

</head>

<body class="bg">

  <!-- Navigation -->
  {{> login/login-header}}
  <!-- Page Content -->
  <div class="container semi_transparent">
    {{#if errors}}
    <br> {{#each errors}}
    <div class="alert-danger">{{message}}</div>
    {{/each}} {{/if}} {{> common/form-messages}} {{{body}}}
  </div>
  <!-- /.container -->

  <!-- Footer -->

  {{> common/loginfooter}}

  <!-- Bootstrap core JavaScript -->
  <script src="/js/jquery/jquery.min.js"></script>
  <script src="/js/bootstrap/js/bootstrap.bundle.min.js"></script>

</body>

</html>