<h1>Create Role</h1>

{{#each errors}}
<div class="alert alert-danger">
    {{message}}
</div>
{{/each}}

<form action="/admin/roles/create" method="POST">
    <div class="form-group">
        <label for="inputRole">Role</label>
        <input name="name" type="text" class="form-control" placeholder="Enter role name" required>
    </div>
    <button type="submit" class="btn btn-primary btn-sm">Save</button>
    <a href="/admin/roles" class="btn btn-secondary btn-sm">Cancel</a>
</form>