<h1>Create Location</h1>

{{#each errors}}
<div class="alert alert-danger">
    {{message}}
</div>
{{/each}}

<form action="/admin/locations/create" method="POST">
    <div class="form-group">
        <label for="inputName">Name</label>
        <input name="name" type="text" class="form-control" placeholder="Enter Location name" required>
    </div>
    <button type="submit" class="btn btn-primary btn-sm">Save</button>
    <a href="/admin/locations" class="btn btn-secondary btn-sm">Cancel</a>
</form>