<h1>Edit Task</h1>

<form action="/admin/tasks/edit/{{task.id}}?_method=PUT" method="POST">
    <div class="form-group">
        <label for="code">Name</label>
        <input value="{{task.name}}" name="name" type="text" class="form-control" placeholder="Enter name" required>
    </div>
    <button type="submit" class="btn btn-primary btn-sm">Save</button>
    <a href="/admin/tasks" class="btn btn-secondary btn-sm">Cancel</a>
</form>