<ul class="navbar-nav navbar-sidenav" id="menuAccordion">
  <li class="nav-item" data-toggle="tooltip" data-placement="right" title="Configurations">
    <a class="nav-link nav-link-collapse collapsed" data-toggle="collapse" href="#collapseConfig" data-parent="#menuAccordion">
      <i class="fa fa-fw fa-file-text"></i>
      <span class="nav-link-text">Records</span>
    </a>
    <ul class="sidenav-second-level collapse" id="collapseConfig">
      <li>
        <a href="/admin/newrecord">New Record</a>
      </li>
      <li>
        <a href="/admin/list">List</a>
      </li>
      <li>
        <a href="/admin/reports">Reports</a>
      </li>
    </ul>
  </li>

  <li class="nav-item" data-toggle="tooltip" data-placement="right" title="AccountManagement">
    <a class="nav-link nav-link-collapse collapsed" data-toggle="collapse" href="#collapseAccountManagement" data-parent="#menuAccordion">
      <i class="fa fa-fw fa-users"></i>
      <span class="nav-link-text">User Management</span>
    </a>
    <ul class="sidenav-second-level collapse" id="collapseAccountManagement">
      <li>
        <a href="/admin/userlist">User List</a>
      </li>
      <li>
        <a href="/admin/register">New User</a>
      </li>

    </ul>
  </li>
  <li class="nav-item" data-toggle="tooltip" data-placement="right" title="Maintenance">
    <a class="nav-link nav-link-collapse collapsed" data-toggle="collapse" href="#collapseMaintenance" data-parent="#menuAccordion">
      <i class="fa fa-fw fa-gears"></i>
      <span class="nav-link-text">Maintenance</span>
    </a>
    <ul class="sidenav-second-level collapse" id="collapseMaintenance">
      <li>
        <a href="/admin/tasks">Tasks</a>
      </li>
      <li>
        <a href="/admin/location">Location</a>
      </li>
      <li>
        <a href="/admin/status">Status</a>
      </li>
    </ul>
  </li>

</ul>